/* Projects.css */
.projects-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333; /* Set your desired darker color */
    color: #ffffff; /* Set text color to contrast with the background */
    padding: 15px; /* Adjust padding as needed */
}

.projects-title {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 10px;
}
