video {
    object-fit: cover;
    width: 100%;
    height: 80rem;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.hero-container > h1 {
    color: #fff;
    font-size: 4vw; 
    margin-top: -13vw; 
}

.hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 2vw; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 2vw; 
}

.hero-btns .btn {
    margin: 1vw; 
}

.fa play-circle {
    margin-left: 0.4vw;
}

@media screen and (max-width: 960px) {
    
    .hero-container > h1 {
        font-size: 6vw; 
        margin-top: -7vw; 
    }
    
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {     
        font-size: 5vw; 
        margin-top: -7vw; 
    }
    
    .hero-container > p {
        font-size: 2vw;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
    
}

@media screen and (max-width: 663px) {
    
    .hero-container > h1 {
        font-size: 4vw; 
        margin-top: -6vw; 
    }
    
}

@media screen and (max-width: 485px) {
    
    .hero-container > h1 {
        font-size: 3vw; 
        margin-top: -5vw; 
    }
    
}
